html {
    font-size: 14px;
}

main {
    > section {
        margin-top: 20px;
    }

    margin-bottom: 80px;
}

article {
    figure {
        img {
            margin: 0 auto;
        }
    }
}

img {
    max-width: 100%;
    height: auto;
    z-index: 10;
    position: relative;

    .aligncenter {
        display: block;
        margin: 0 auto;
    }
}

$a-color: $accent-bg;

main {
    a:not(.wp-block-button__link ):not(.a-img):not(.btn):not(.list-group-item):not(.carousel-control-prev):not(.carousel-control-next):not(.fc-event) {
        color: $a-color;
        position: relative;

        &::after {
            content: "";
            border-bottom: 1px solid $a-color;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            transform: scaleX(0);
            opacity: .8;
            transition: opacity .1s, transform .4s;
        }

        &:hover {
            text-decoration: none;
            opacity: 1;

            &::after {
                transform: scaleX(1);
            }
        }
    }    
}
