#main-menu {
    font-size: 1.2rem;
}

.navbar .nav-item {
    text-transform: uppercase;
}

.nav-item {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: $navitem-padding-y;
    padding-bottom: $navitem-padding-y;

    &.active {
        background: $accent-bg;
    }
}
