.personnel-card {
    margin-bottom: 30px;
    position: relative;
    min-height: calc(100% - 30px);

    .card-body {
        img {
            width: 100%;
            max-width: 150px;
            height: auto;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }
}
