.site-header {
    background: $accent-bg;
    color: $accent-color;
}

.site-header--top {
    padding: 10px 0 0;
    border-bottom: 1px solid $white;
}

.site-header--main {
    padding: 10px;
    max-width: 1600px;
}

.tagline {
    font-family: $font-serif;
    font-weight: bold;

    &::before {
        content: "“";
    }

    &::after {
        content: "”";
    }
}

.site-logo {
    width: 100%;
    height: auto;
    // animation: rotate 240s infinite linear;
}

.site-title {
    font-size: 18px;
}

.search-form {
    margin-left: 5px;
    margin-bottom: 8px;

    input {
        width: 175px;
        max-width: 100%;
    }
}

@import "social";
@import "nav";
