body {
    font-family: $font-sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-serif;
    font-weight: bold;
}

main {
    > h2 {
        background: $accent-bg;
        color: $accent-color;

        text-align: center;
        text-transform: uppercase;
        margin-top: 2px;
        margin-bottom: 4px;
        font-size: 1.75rem;
        padding-top: 4px;
        padding-bottom: 4px;
        letter-spacing: 1px;
    }

    h2 {
        border-bottom: 1px solid $gray-400;
        margin-bottom: 20px;
    }

    h3, h4, h5, h6 {
        color: $accent-bg;
    }

    table {
        width: 100%;

        th {
            font-weight: bold;
            border: 1px solid $gray-300;
            padding: 4px;
        }

        td {
            border: 1px solid $gray-300;
            padding: 4px;
        }
    }
}

figure {
    display: table;
    position: relative;
    max-width: 100%;

    figcaption {
        display: table-caption;
        caption-side: bottom;
        font-size: .9em;
        text-align: center;
        font-weight: 600;
        font-style: italic;
    }
}

img {
    &.alignleft {
        float: left;
        margin-right: 10px;
    }

    &.alignright {
        float: right;
        margin-left: 10px;
    }
}

.page-contents {
    h3, h4, h5, h6 {
        color: $black;
    }

    &.multi-content {
        h3 {
            color: $accent-bg;
        }        
    }
}

.modal-header p {
    margin-bottom: 0;
}

article {
    aside {
        font-style: italic;
        font-size: .9em;
    }
}

.table.table-compact {
    width: auto;
}

ol > li > ol > li {
    list-style: lower-alpha;
    margin-bottom: 0;
}

ol > li > ol > li > ol > li {
    list-style: lower-alpha;
    margin-bottom: 0;
}

ol.list-paragraphed {
    > li {
        margin-bottom: 1rem;
        > ol,
        > p {
            margin-bottom: 1rem;
        }
    }
}

blockquote {
    &.blockquote {
        position: relative;
        padding-left: 5rem;
        padding-right: 5rem;

        &::after,
        &::before {
            content: "“";
            position: absolute;
            font-family: $font-accent;
            font-size: 10rem;
            top: -2.25rem;
        }

        &::before {
            left: 0;
        }

        &::after {
            transform: rotate(180deg);
            right: 0;
        }
    }

    &.gsb-mission {
        &::after,
        &::before {
            color: $accent-bg;
        }
    }
}

.text-normal {
    text-transform: none !important;
}

.pswp__caption__center {
    text-align: center;
}
