$body-bg: #e6e6fa;
$body-color: #111;

$accent-bg: #024182;
$accent-color: #fff;

$font-serif: 'Merriweather', serif;
$font-sans-serif: 'Open Sans', sans-serif;
$font-accent: 'Nanum Myeongjo', serif;

$navbar-padding-y: 0;
$navitem-padding-y: .5rem;
